<main>
  <section id="home" class="section">
    <h1>Home</h1>
  </section>
  <section id="portfolio" class="section">
    <h1>Portfolio</h1>
  </section>
  <section id="about" class="section">
    <h1>About</h1>
  </section>
  <section id="contact" class="section">
    <h1>Contact</h1>
  </section>
</main>
<aside>
  <ul>
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li class="slide"></li>
  </ul>
</aside>